@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap");

h1 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

Html {
  font-family: "Prompt", sans-serif;
}

#nprogress .bar {
  background: #ffbb00 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ffbb00, 0 0 5px #ffbb00;
}

#nprogress .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
}
